*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #74c2bf
}
a{
  text-decoration: none;
}

p{
  margin: 0.75rem 0;
}

.text-primary{
  color: #f80919
}

  /* code for the navbar */
  #navbar{
    background-color: #9e7f62; 
    color: rgb(77, 10, 10);
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: rgb(48, 7, 7);
  padding: 0.75rem;
  margin: 0 0.2rem;
}

#navbar ul li a:hover {
   background: #070c00;
   border-radius: 5px;
}

/* css code for the header showcase */
#showcase {
  background: url("../img/img1.jpg") no-repeat center center/cover;
  height: 100vh;
  color: rgb(240, 222, 222);
}

#showcase .show-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;

  /* overlay */
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(68, 60, 60, 0.5);
  }

.l-leading{
  font-size: 4rem;
  margin-bottom: 00.75rem;
  line-height: 1.1;
}

.m-leading{
  font-size: 2rem;
  margin-bottom: 00.75rem;
  line-height: 1.1;
}

  .lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .btn {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    color: rgb(52, 16, 212);
    background: orange;
    padding: 0.5rem 2rem;
    width: 160px;
    border: none;
    border-radius: 5px;
  }

  .btn:hover {
    background: rgb(54, 41, 41);
  }

  .btn-dark {
    background: rgb(122, 21, 97);
    color: #fff;
  }

  .container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }

  .text-center{
    text-align: center;
  }

  .p-1{
    padding: 1.5rem 0;
  }

  .p-2{
padding: 2rem 0;
  }

  .p-3{
    padding: 3rem 0;
  }

  /* section: what we do */
  .items {
    display: flex;
    padding: 1rem;
  }

  #what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }
  
  #what .items .item i {
    background: rgb(14, 14, 0);
    color: rgb(209, 212, 14);
    padding: 1rem;
    border-radius: 50%;
  }

  /* section for who we are */
  #who {
    display: flex;
  }

  #who div{
    flex: 1;
  }

  #who .who-img {
    background: url("../img/img2.jpg") no-repeat center/cover;
  }

  .bg-light{
     background: #bce48f;
     color: rgb(2, 39, 8);
}

  .bg-dark{
    color: #f4f4f4;
    background: #333;
  }

  .p-1{
    padding: 1.5rem;
  }

  .p-2{
    padding: 2rem;
  }
  .p-3{
    padding: 3rem;
  }

  .list{
    margin: 0.5rem 0;
    list-style: none;
  }
  
  .list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px
    }
     
  /* clients */
  #clients{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  #clients .items img{
    align-items: center;
    display: block;
    margin: auto 15px;
    width: 90px;
    height: 90px;
  }

  /* section: contact */
  .bg-primary {
    background: rgb(177, 161, 161);
    color: #000;
  }

  #contact {
    width: 80%;
    margin: 0 auto;
  }

  #contact .contact-form .form-group {
    margin: 0.75rem;
  }

  #contact .contact-form label {
    display: block;
  }

  #contact .contact-form input,
  #contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
  }




